.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: yellow;
    margin: 20px;
    border: 1px solid yellow;
    position: relative;
}

.dashboard {
    background-color: dodgerblue;
    margin: 20px auto;
    border: 1px solid dodgerblue;
    min-height: 272px;
    
}

input {
    border: none;
    background-color: dodgerblue;
    color: black;
    font-size: 24px;
}

.card input {
    background-color: yellow;
}
.card-holder {
    display: flex;
}

hr {
    width: 100%;
}
